<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digit Recognizer</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <h1>Draw a Digit</h1>
    <div class="grid" id="grid"></div>
    <div class="btn-container">
        <div class="btn" onclick="predict()">Predict</div>
        <div class="btn" onclick="clearGrid()">Clear</div>
    </div>

    <p id="result" class="result"></p>
    
    <script src="static/script.js"></script>
</body>
</html>
